<div class="container">
  <h1 class="heading"> Guild</h1>
  <hr>
  <h3><p class='description'>Ruby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby JobsRuby Jobs</p></h3>
  <hr>
  <div class="span-7 colborder">
  </div>
  <div class="span-8 colborder">
  </div>
  <div class="span-7 last">
  </div>
  <hr class="space">
  <div class="span-15 prepend-1 colborder">

	<%= render 'job'%>
	
	<%= will_paginate @feed_jobs%>
	
    
  </div>
  <div class="span-7 last">
    <h2 class="tags">Search</h2>
    <p id="facts">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue.
    Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien. Nunc rutrum egestas lorem. Duis ac sem sagittis elit tincidunt gravida. Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien. Nunc rutrum egestas lorem. Duis ac sem sagittis elit tincidunt gravida.</p>
    <h2 class="share">Share</h2>
    <p id="facts">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue.
    Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien. Nunc rutrum egestas lorem. Duis ac sem sagittis elit tincidunt gravida. Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien. Nunc rutrum egestas lorem. Duis ac sem sagittis elit tincidunt gravida.</p>
  
  </div>
  <hr>
  <h2 class="join"><%= link_to 'Post a job', new_job_path %></h2>

  <hr>
</div>













