<div class="container">
  <h1 class="heading">Better Roads?</h1>
  <hr>
  <h3><p class='description'>We need better roads and no corruption. We need better roads and no corruption.We need better roads and no corruption.We need better roads and no corruption.We need better roads and no corruption.We need better roads and no corruption.We need better roads and no corruption.</p></h3>
  <hr>
  <div class="span-7 colborder">
    <h1 class="comment_count">2422 <br/> comments</h1>
  </div>
  <div class="span-8 colborder">
    <p><%#= image_tag @link %></p>
  </div>
  <div class="span-7 last">
    <h1 class="ranking"><%#= image_tag 'http://chart.apis.google.com/chart?chst=d_fnote&chld=arrow_d|1|', :class => 'arrow', :size => '70x105'%> 93</h1>
  </div>
  <hr>
  <hr class="space">
  <div class="span-15 prepend-1 colborder">
    <p  id="facts">The cables catalog the heavy pressure that was placed on Google to comply with local censorship laws, as well as Google’s willingness to comply — up to a point. That coercion began building years before the company finally decided to pull its search engine out of China last spring in the wake of the successful hacking attack on its home servers, which yielded Chinese dissidents’ e-mail accounts as well as Google’s proprietary source code.<br /><br />

	The demands on Google went well beyond removing material on subjects like the Dalai Lama or the 1989 Tiananmen Square massacre. Chinese officials also put pressure on the United States government to censor the Google Earth satellite imaging service by lowering the resolution of images of Chinese government facilities, warning that Washington could be held responsible if terrorists used that information to attack government or military facilities, the cables show. An American diplomat replied that Google was a private company and that he would report the request to Washington but that he had no sense about how the government would act.<br /><br />

	Yet despite the hints of paranoia that appear in some cables, there are also clear signs that Chinese leaders do not consider the Internet an unstoppable force for openness and democracy, as some Americans believe.<br /><br />

	In fact, this spring, around the time of the Google pullout, China’s State Council Information Office delivered a triumphant report to the leadership on its work to regulate traffic online, according to a crucial Chinese contact cited by the State Department in a cable in early 2010, when contacted directly by The Times.<br /><br />

	The message delivered by the office, the person said, was that “in the past, a lot of officials worried that the Web could not be controlled.”<br /><br />

	“But through the Google incident and other increased controls and surveillance, like real-name registration, they reached a conclusion: the Web is fundamentally controllable,” the person said.<br /><br />

	That confidence may also reflect what the cables show are repeated and often successful hacking attacks from China on the United States government, private enterprises and Western allies that began by 2002, several years before such intrusions were widely reported in the United States.<br /><br />

	At least one previously unreported attack in 2008, code-named Byzantine Candor by American investigators, yielded more than 50 megabytes of e-mails and a complete list of user names and passwords from an American government agency, a Nov. 3, 2008, cable revealed for the first time.<br /><br />

	Precisely how these hacking attacks are coordinated is not clear. Many appear to rely on Chinese freelancers and an irregular army of “patriotic hackers” who operate with the support of civilian or military authorities, but not directly under their day-to-day control, the cables and interviews suggest. </p>


    
  </div>
  <div class="span-7 last">
    <h2 class="tags">Tags</h2>
    <p id="facts">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue.
    Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien. Nunc rutrum egestas lorem. Duis ac sem sagittis elit tincidunt gravida. Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien. Nunc rutrum egestas lorem. Duis ac sem sagittis elit tincidunt gravida.</p>
    <h2 class="share">Share</h2>
    <p id="facts">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue.
    Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien. Nunc rutrum egestas lorem. Duis ac sem sagittis elit tincidunt gravida. Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien. Nunc rutrum egestas lorem. Duis ac sem sagittis elit tincidunt gravida.</p>
  
  </div>
  <hr>
  <h2 class="join">Join The Discussion</h2>
  <hr>
</div>